/*
    Estilo específico dos detalhes do evento
*/

section#right div#listaSessoes section#inicio section#top {
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    color: #000;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

section#right div#listaSessoes section#inicio section#top div.imagem {
    height: 400px;
    width: 400px;
    border: 5px solid var(--cor1);
    overflow: hidden;
    border-radius: 20px;
}
section#right div#listaSessoes section#inicio section#top div.imagem a {
    background-color: var(--cor2);
    padding: 0;
    border-radius: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: block;
}
section#right div#listaSessoes section#inicio section#top div.imagem a img {
    height: 100%;
    width: 100%;
}

section#right div#listaSessoes section#inicio section#top div.informacoes {
    font-weight: bold;
}

section#right div#listaSessoes section#inicio section#top div.informacoes h1 {
    font-size: 35px;
}

section#right div#listaSessoes section#inicio section#top div.informacoes p {
    font-size: 20px;
    margin: 10px 0;
}

section#right div#listaSessoes section#inicio section#top div.informacoes p a {
    padding: 0;
}

section#right div#listaSessoes section#inicio section#top div.descricao {
    width: 100%;
} 

@media (max-width: 500px) {
    section#right div#listaSessoes section#inicio section#top div.informacoes h1 {
        font-size: 28px;
    }
    section#right div#listaSessoes section#inicio section#top div.imagem {
        height: 350px;
        width: 100%;
    }
}

body.dark section#right div#listaSessoes section#inicio section#top div.informacoes p a,
body.dark section#right div#listaSessoes section#inicio section#top div.informacoes h1,
body.dark section#right div#listaSessoes section#inicio section#top div.informacoes p,
body.dark section#right div#listaSessoes section#inicio section#top {
    background-color: transparent;
    color: var(--cor11);
}

body.dark section#right div#listaSessoes section#inicio section#top div.informacoes p a {
    color: var(--cor2);
}

